
.auth-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

}

.auth-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    max-width: 550px;
    min-width: 500px;
    width: 30%;
    aspect-ratio: 1/1.2;
    border: 1px solid #454e5b;
    border-radius: 5px;
}

.auth-selection-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 95%;
    height: 8%;
    background-color: #111114;
    border-radius: 15px;
    padding: 1%;
    border: 1px solid #454e5b;
}

.auth-selection-button{
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #111114;
    border: none;
    border-radius: 15px;
    color: #454e5b;
}

.auth-selection-button:hover{
    cursor: pointer;
}

.auth-selection-button-selected{
    background-color: #1e1e24;
    color: white;
}

.auth-text-container{
    display: flex;
    align-items: center;
    width: 95%;
    height: 20%;
    color: white;
}

.auth-input-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 95%;
    height: 25%;
}

.auth-input{
    width: 100%;
    height: 30%;
    background-color: #1e1e24;;
    border: 1px solid #454e5b;
    border-radius: 5px;
    color: white;
    font-size: 120%;
    padding-left: 1%;
}

.auth-input:focus{
    outline: 1px solid #1a8a44;
}

.auth-input-label{
    margin: 0;
    color: #47505d;
    font-size: 120%;
}

.auth-submit-button{
    width: 95%;
    height: 8%;
    background-color: #0c1d15;
    border: 1px solid #1a8a44;
    color: #1a8a44;
    border-radius: 5px;
}

.auth-submit-button:hover{
    cursor: pointer;
}