
.watchlist-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.watchlist-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 25%;
    height: 50%;
    background-color: #111114;
    margin-top: 10%;
    border-radius: 5px;
    overflow: hidden;
}